
*.jpg
datasets/UCSD/data/cars/gilman/.DS_Store
*.dat
datasets/UCSD/LICENSE
datasets/UCSD/data/plates/README
datasets/UCSD/data/plates/labels.info
datasets/UCSD/data/cars/stills/training_set.txt
datasets/UCSD/data/cars/stills/test_set.txt
datasets/UCSD/data/cars/stills/README
datasets/UCSD/data/cars/regents/README
datasets/UCSD/data/cars/regents/labels.info
datasets/UCSD/data/cars/gilman/README
datasets/UCSD/data/cars/gilman/labels.info
datasets/UCSD/data/cars/gilman/cropped/.DS_Store
datasets/UCSD/data/cars/.DS_Store
datasets/UCSD/data/.DS_Store
datasets/UCSD/code/VideoReader.h
datasets/UCSD/code/VideoReader.cpp
datasets/UCSD/.DS_Store
datasets/benchmarks/
datasets/.DS_Store
.DS_Store
